{% extends 'base.html' %}
{% block content %}
<div class="sticky-top container text-center">
    <div class="row">
        <div class="col">
    </div>
        <div class="col-6">
<h1>Are you sure?</h1>
<form method="POST"> {%csrf_token%}
  {{form}}
  <button class="btn btn-outline-danger" type="submit">Delete</button>
  <input class="btn btn-outline-success" type="button" value="Cancel" onclick="history.back()"/>
</form>
            </div>
        <div class="col">
        </div>
</div>
{% endblock %}
